*AppleDouble*
*swp
*.o
*dSYM
*log
*key
*gz
*tar
*afp
Makefile
src/Makefile
autom4te.cache
config.status
src/.deps/*
include/config.h
libtool
test/*
include/Inet.hpp.in
include/Inet.hpp.in~
include/config.h.in~
include/stamp-h1
files
.DS_Store
configure~
Makefile.in
src/Makefile.in
aclocal.m4
compile
config.guess
config.sub
configure
depcomp
include/config.h.in
install-sh
ltmain.sh
missing
src/tssh
